
.expenseManagerApp{

	.textAlign{
		text-align: center;
	}

	.errorMsg{
		color: red;
	}

	.userWelcomeMsg{
		color: #1C8416;
    }

    .paddingTop{
    	padding-top: 10px;
    }

    .paddingBottom{
    	padding-bottom: 10px;
    }

    .userReportWrapper{
    	padding: 10px;
    }

	.userIncomeWrapper, .userExpenseWrapper{
		.customTable{
		   width: 100%;
		   border: 1px solid grey;
		   border-collapse: collapse;
		   padding: 5px;

			th, td {
			   border: 1px solid grey;
			   border-collapse: collapse;
			   padding: 5px;
			}

			tr:nth-child(odd) {
			   background-color: #f2f2f2;
			}

			tr:nth-child(even) {
			   background-color: #ffffff;
			}
		}
	}
}